### 기본이 될 데이터셋 불러오기

In [ ]:
import requests
import pandas as pd

pd.set_option("display.max_rows", None)

df = pd.read_csv("../blinkit-dataset/blinkit_master_data.csv")

---

### 각 컬럼마다의 개수 확인

In [90]:
# 영역의 중복없는 개수 확인
area_count = df["area"].unique()
# print(len(area_count))
print(area_count)

['Allahabad' 'Thrissur' 'Vellore' 'Gaya' 'Asansol' 'Gopalpur' 'Phagwara'
 'South Dumdum' 'Kamarhati' 'Sirsa' 'Rohtak' 'Madurai' 'Vijayawada'
 'Belgaum' 'Farrukhabad' 'Nizamabad' 'Serampore' 'Alappuzha' 'Dehri'
 'Khandwa' 'Hosur' 'Ongole' 'Jalna' 'Khammam' 'Rewa' 'Adoni' 'Muzaffarpur'
 'Narasaraopet' 'Hindupur' 'North Dumdum' 'Saharanpur' 'Davanagere'
 'Dibrugarh' 'Ratlam' 'Maheshtala' 'Chittoor' 'Baranagar' 'Etawah'
 'Bathinda' 'Rajahmundry' 'Medininagar' 'Nandyal' 'Akola' 'Avadi' 'Bokaro'
 'Chennai' 'Anand' 'Pali' 'Mathura' 'Kakinada' 'Begusarai' 'Gurgaon'
 'Ahmednagar' 'Tinsukia' 'Panvel' 'Siwan' 'Gulbarga' 'Bijapur' 'Deoghar'
 'Howrah' 'Guntur' 'Guwahati' 'Mirzapur' 'Madhyamgram' 'Ichalkaranji'
 'Gudivada' 'Darbhanga' 'Tezpur' 'Bhilwara' 'Berhampur' 'Kolhapur'
 'Karimnagar' 'Morbi' 'Bikaner' 'Rampur' 'Bally' 'Orai' 'Nagaon'
 'Pudukkottai' 'Bulandshahr' 'Agartala' 'Shahjahanpur' 'Ghaziabad'
 'Pondicherry' 'Dhule' 'Bihar Sharif' 'Thane' 'Ranchi' 'Chandrapur'
 'Gandhidham' 'Patna' 'Kumbakonam' 'Latur' 'Tiruppur' 'Bettiah'
 'Tiruvottiyur' 'Aligarh' 'Kottayam' 'Udaipur' 'Silchar' 'Durg'
 'Aurangabad' 'Bhubaneswar' 'Satara' 'Agra' 'Visakhapatnam'
 'Vijayanagaram' 'Jhansi' 'Sri Ganganagar' 'Eluru' 'Dindigul' 'Bareilly'
 'Bongaigaon' 'Fatehpur' 'Burhanpur' 'Thanjavur' 'Dehradun' 'Udupi'
 'Arrah' 'Thoothukudi' 'Delhi' 'Danapur' 'Ramgarh' 'Vasai-Virar' 'Nellore'
 'Amaravati' 'Karawal Nagar' 'Jorhat' 'Jabalpur' 'Loni' 'Chinsurah'
 'Raebareli' 'Shimla' 'Meerut' 'Nanded' 'Sikar' 'Kharagpur' 'Satna'
 'Mira-Bhayandar' 'Miryalaguda' 'Jalgaon' 'Jalandhar' 'Jamalpur' 'Ballia'
 'Shivpuri' 'Hajipur' 'Bangalore' 'Erode' 'Firozabad' 'Jaipur' 'Saharsa'
 'Ludhiana' 'Hubli–Dharwad' 'Mau' 'Katihar' 'Hapur' 'Tadipatri' 'Chapra'
 'Ramagundam' 'Muzaffarnagar' 'Gandhinagar' 'Pimpri-Chinchwad' 'Kavali'
 'Bhopal' 'Panchkula' 'Navi Mumbai' 'Amravati' 'Noida' 'Patiala' 'Mumbai'
 'Hazaribagh' 'Tenali' 'Raiganj' 'Kishanganj' 'Bhind' 'Nagercoil'
 'Ambattur' 'Kalyan-Dombivli' 'Alwar' 'Bellary' 'Bhimavaram' 'Ajmer'
 'Pallavaram' 'Ulhasnagar' 'Bilaspur' 'Shimoga' 'Bhagalpur' 'Korba'
 'Purnia' 'Jammu' 'Bhavnagar' 'Uluberia' 'Haridwar' 'Bidar' 'Jamnagar'
 'Kadapa' 'Yamunanagar' 'Jamshedpur' 'Sambalpur' 'Kanpur' 'Amroha'
 'Proddatur' 'Anantapur' 'Buxar' 'Berhampore' 'Junagadh' 'Siliguri'
 'Tadepalligudem' 'Gangtok' 'Gwalior' 'Surat' 'Kollam' 'Haldia' 'Kochi'
 'Jehanabad' 'Dewas' 'Sangli-Miraj & Kupwad' 'Mysore' 'Bhiwandi' 'Aizawl'
 'Singrauli' 'Lucknow' 'Kurnool' 'Imphal' 'Nagpur' 'Parbhani' 'Morena'
 'Nangloi Jat' 'Panipat' 'Pune' 'Nadiad' 'Machilipatnam'
 'Bhalswa Jahangir Pur' 'Motihari' 'Nashik' 'Salem' 'Rajkot' 'Panihati'
 'Naihati' 'Bidhannagar' 'Tirunelveli' 'Munger' 'Giridih'
 'Raurkela Industrial Township' 'Cuttack' 'Bhatpara' 'Sultan Pur Majra'
 'Gorakhpur' 'Madanapalle' 'Bhusawal' 'Suryapet' 'Ambarnath' 'Sasaram'
 'Sagar' 'Faridabad' 'Jodhpur' 'Malegaon' 'Chandigarh' 'Bharatpur'
 'Mehsana' 'Thiruvananthapuram' 'Ozhukarai' 'Mango' 'Mahbubnagar'
 'Varanasi' 'Warangal' 'Kirari Suleman Nagar' 'Bahraich' 'Bhilai'
 'Vadodara' 'Rajpur Sonarpur' 'Indore' 'Karaikudi' 'Durgapur' 'Ahmedabad'
 'Sambhal' 'Guna' 'Kolkata' 'Jaunpur' 'Ujjain' 'Kota' 'Hyderabad' 'Tumkur'
 'Kulti' 'Guntakal' 'Dhanbad' 'Secunderabad' 'Khora ' 'Rourkela' 'Raipur'
 'Malda' 'Phusro' 'New Delhi' 'Srinagar' 'Katni' 'Bardhaman' 'Anantapuram'
 'Kozhikode' 'Unnao' 'Bhiwani' 'Tiruchirappalli' 'Coimbatore'
 'Surendranagar Dudhrej' 'Dharmavaram' 'Barasat' 'Hospet' 'Karnal'
 'Ambala' 'Amritsar' 'Solapur' 'Srikakulam' 'Sonipat' 'Raichur' 'Tirupati'
 'Moradabad' 'Mangalore']

In [74]:
df['area'].value_counts()

area
Orai                            44
Deoghar                         40
Gandhinagar                     37
Nandyal                         36
Ratlam                          35
Bathinda                        34
Ghaziabad                       32
Udaipur                         31
Bhopal                          31
Jalna                           30
Ahmednagar                      30
Jabalpur                        30
Tezpur                          30
Kishanganj                      29
Burhanpur                       28
Kadapa                          28
Darbhanga                       27
Machilipatnam                   27
Bulandshahr                     27
Ludhiana                        27
Pali                            27
Sambalpur                       27
Agra                            27
Chittoor                        27
Panihati                        26
Nizamabad                       26
Aurangabad                      26
Jorhat                          26
Etawah                          25
Raiganj                         25
Udupi                           24
Kottayam                        24
Silchar                         24
Bangalore                       24
Shivpuri                        24
Ichalkaranji                    24
Pallavaram                      24
North Dumdum                    24
Amritsar                        24
Allahabad                       24
Noida                           24
Loni                            24
Bellary                         24
Rajkot                          24
Hindupur                        23
Thiruvananthapuram              23
Nagpur                          23
Baranagar                       23
Jammu                           23
Imphal                          23
Bijapur                         23
Sonipat                         22
Vellore                         22
Karaikudi                       22
Bongaigaon                      22
Maheshtala                      22
Arrah                           22
Unnao                           22
Rampur                          22
Yamunanagar                     22
Mysore                          22
Ulhasnagar                      22
Dindigul                        22
Pimpri-Chinchwad                22
Khammam                         21
Howrah                          21
Singrauli                       21
Tenali                          21
Bhimavaram                      21
Bhagalpur                       21
Berhampur                       21
Shahjahanpur                    21
Erode                           21
Jamalpur                        21
Visakhapatnam                   21
Fatehpur                        21
Gandhidham                      21
Latur                           21
Ambala                          20
Thoothukudi                     20
Nanded                          20
Kavali                          20
Proddatur                       20
Guntakal                        20
Faridabad                       20
Guna                            20
Salem                           20
Nangloi Jat                     20
Avadi                           20
Anantapur                       20
Jamnagar                        20
Satara                          19
Korba                           19
Begusarai                       19
Tadepalligudem                  19
Sambhal                         19
Bidhannagar                     19
Purnia                          19
Gwalior                         19
Dhule                           19
Raebareli                       19
Saharsa                         19
Patiala                         19
Firozabad                       19
Jaunpur                         18
Rewa                            18
Adoni                           18
Kota                            18
Miryalaguda                     18
Tinsukia                        18
Ballia                          18
Eluru                           18
Agartala                        18
Kumbakonam                      18
Aligarh                         18
Ranchi                          18
Kalyan-Dombivli                 18
Chennai                         18
Ambattur                        18
Rajahmundry                     18
Bhilwara                        18
Nellore                         17
Bally                           17
Karawal Nagar                   17
Bardhaman                       17
Ongole                          17
Durgapur                        17
Jodhpur                         17
Mahbubnagar                     17
Narasaraopet                    17
Kanpur                          17
Medininagar                     17
Satna                           17
Thane                           17
Asansol                         17
Madhyamgram                     17
Pondicherry                     17
Danapur                         17
Katihar                         17
Jehanabad                       16
Mumbai                          16
Gulbarga                        16
Bareilly                        16
Thanjavur                       16
Tadipatri                       16
Karimnagar                      16
Dehradun                        16
Pudukkottai                     16
Dehri                           16
Madurai                         16
Panchkula                       16
Kakinada                        16
Haldia                          16
Dhanbad                         16
Mango                           16
Gorakhpur                       16
Bhubaneswar                     16
Kamarhati                       16
Jalgaon                         15
Guwahati                        15
Guntur                          15
Anantapuram                     15
Panvel                          15
Mira-Bhayandar                  15
Berhampore                      15
Bilaspur                        15
Buxar                           15
Muzaffarnagar                   15
Rohtak                          15
Bettiah                         15
Alappuzha                       15
Sirsa                           15
Sasaram                         15
Saharanpur                      15
Dibrugarh                       15
Bhusawal                        15
Shimoga                         15
Gangtok                         15
Kozhikode                       14
Sultan Pur Majra                14
Chinsurah                       14
Bihar Sharif                    14
Durg                            14
Coimbatore                      14
Amaravati                       14
Delhi                           14
Navi Mumbai                     14
Chapra                          14
Gaya                            14
Secunderabad                    14
Tirunelveli                     14
Haridwar                        14
Naihati                         14
Junagadh                        14
Vadodara                        14
Ajmer                           13
Jhansi                          13
Tiruppur                        13
Farrukhabad                     13
Gudivada                        13
Nagaon                          13
Sikar                           13
Hazaribagh                      13
Thrissur                        13
Aizawl                          13
Siliguri                        13
Parbhani                        13
Nagercoil                       13
Anand                           12
Mathura                         12
Dewas                           12
Vijayawada                      12
Ahmedabad                       12
Davanagere                      12
Sagar                           12
Warangal                        12
Bidar                           12
Tirupati                        11
Giridih                         11
Pune                            11
Kharagpur                       11
Meerut                          11
Kolhapur                        11
Ramagundam                      11
Belgaum                         11
Katni                           11
Jaipur                          11
Jamshedpur                      11
Motihari                        11
Khora                           11
Tumkur                          11
Malegaon                        11
Varanasi                        11
Raurkela Industrial Township    11
Hapur                           11
Bhilai                          10
Hosur                           10
Bhatpara                        10
Ujjain                          10
Kulti                           10
Alwar                           10
Rajpur Sonarpur                 10
New Delhi                       10
Mehsana                         10
Hubli–Dharwad                   10
South Dumdum                    10
Khandwa                         10
Morbi                           10
Hajipur                          9
Mirzapur                         9
Hospet                           9
Surendranagar Dudhrej            9
Ozhukarai                        9
Gurgaon                          9
Madanapalle                      9
Indore                           9
Solapur                          9
Srinagar                         9
Uluberia                         9
Bhavnagar                        9
Nashik                           9
Munger                           9
Bhiwandi                         9
Kollam                           9
Lucknow                          8
Bahraich                         8
Kurnool                          8
Kochi                            8
Siwan                            8
Karnal                           8
Tiruchirappalli                  8
Bhiwani                          8
Vijayanagaram                    8
Malda                            8
Ambarnath                        8
Chandigarh                       8
Bhind                            7
Gopalpur                         7
Tiruvottiyur                     7
Serampore                        7
Bikaner                          7
Ramgarh                          7
Amravati                         7
Sri Ganganagar                   7
Kolkata                          7
Amroha                           7
Suryapet                         7
Kirari Suleman Nagar             7
Nadiad                           7
Panipat                          7
Akola                            6
Mau                              6
Phagwara                         6
Hyderabad                        6
Bharatpur                        6
Sangli-Miraj & Kupwad            6
Chandrapur                       6
Dharmavaram                      6
Patna                            6
Bhalswa Jahangir Pur             6
Moradabad                        5
Srikakulam                       5
Surat                            5
Shimla                           5
Raipur                           5
Muzaffarpur                      5
Barasat                          4
Vasai-Virar                      4
Jalandhar                        4
Morena                           4
Phusro                           4
Cuttack                          4
Rourkela                         4
Raichur                          3
Bokaro                           2
Mangalore                        1
Name: count, dtype: int64

---

###  area 컬럼 정규화 작업

In [56]:
df["city_norm"] = (
    df["area"]
    .str.lower()                             # 소문자화
    .str.strip()                             # 공백 제거
    .str.replace(r"[^\w\s]", "", regex=True) # 특수 문자 제거
)

df["city_norm"]

0        allahabad
1         thrissur
2          vellore
3             gaya
4          asansol
           ...
4995       udaipur
4996       mathura
4997    jamshedpur
4998       chennai
4999      jamnagar
Name: city_norm, Length: 5000, dtype: object

---

In [57]:
# 주(State)별 소도시 리스트 정의
state_to_cities = {
    "Andhra Pradesh": 
    ["vijayawada", "ongole", "adoni", "narasaraopet", "hindupur", "chittoor", "rajahmundry", "nandyal", "kakinada", "guntur", "gudivada", "visakhapatnam", "vijayanagaram", "eluru", "nellore", "amaravati", "tadipatri", "kavali", "tenali", "bhimavaram", "kadapa", "proddatur", "anantapur", "tadepalligudem", "kurnool", "machilipatnam", "madanapalle", "guntakal", "anantapuram", "srikakulam", "tirupati", "dharmavaram"],
    
    "Bihar": 
    ["gaya", "dehri", "muzaffarpur", "begusarai", "siwan", "darbhanga", "bihar sharif", "patna", "bettiah", "arrah", "danapur", "hajipur", "saharsa", "katihar", "chapra", "kishanganj", "bhagalpur", "purnia", "buxar", "jehanabad", "motihari", "sasaram", "munger", "jamalpur"],

    "Uttar Pradesh": 
    ["allahabad", "farrukhabad", "saharanpur", "etawah", "mathura", "mirzapur", "rampur", "orai", "bulandshahr", "shahjahanpur", "ghaziabad", "aligarh", "agra", "jhansi", "bareilly", "fatehpur", "raebareli", "meerut", "firozabad", "mau", "hapur", "muzaffarnagar", "lucknow", "kanpur", "amroha", "sambhal", "jaunpur", "varanasi", "bahraich", "unnao", "moradabad", "khora", "loni", "ballia", "noida"],

    "Maharashtra": 
    ["jalna", "akola", "ahmednagar", "panvel", "ichalkaranji", "kolhapur", "dhule", "thane", "chandrapur", "latur", "satara", "nanded", "mirabhayandar", "jalgaon", "pimprichinchwad", "navi mumbai", "amravati", "mumbai", "kalyandombivli", "ulhasnagar", "sanglimiraj kupwad", "bhiwandi", "parbhani", "nagpur", "pune", "nashik", "ambarnath", "malegaon", "bhusawal", "solapur", "vasaivirar", "aurangabad"],

    "Karnataka": 
    ["belgaum", "davanagere", "gulbarga", "bijapur", "udupi", "bangalore", "hublidharwad", "bellary", "shimoga", "bidar", "mysore", "tumkur", "raichur", "hospet", "mangalore"],

    "Tamil Nadu": 
    ["vellore", "madurai", "hosur", "avadi", "pudukkottai", "kumbakonam", "tiruppur", "tiruvottiyur", "dindigul", "thanjavur", "thoothukudi", "erode", "nagercoil", "ambattur", "pallavaram", "salem", "tirunelveli", "karaikudi", "tiruchirappalli", "coimbatore", "chennai"],

    "West Bengal": 
    ["asansol", "south dumdum", "kamarhati", "serampore", "north dumdum", "maheshtala", "baranagar", "howrah", "madhyamgram", "bally", "siliguri", "haldia", "panihati", "naihati", "bidhannagar", "bhatpara", "rajpur sonarpur", "kolkata", "barasat", "malda", "bardhaman", "kulti", "chinsurah", "kharagpur", "raiganj", "uluberia", "berhampore"],

    "Gujarat": 
    ["anand", "gandhidham", "morbi", "junagadh", "jamnagar", "bhavnagar", "surat", "mehsana", "vadodara", "ahmedabad", "surendranagar dudhrej", "rajkot", "gandhinagar", "nadiad"],

    "Madhya Pradesh": 
    ["khandwa", "rewa", "ratlam", "burhanpur", "jabalpur", "shivpuri", "bhopal", "bhind", "gwalior", "dewas", "singrauli", "morena", "sagar", "indore", "guna", "ujjain", "katni", "satna"],

    "Rajasthan": 
    ["pali", "bikaner", "udaipur", "sri ganganagar", "sikar", "jaipur", "alwar", "ajmer", "bhilwara", "jodhpur", "bharatpur", "kota"],

    "Telangana": 
    ["nizamabad", "khammam", "karimnagar", "ramagundam", "mahbubnagar", "warangal", "hyderabad", "secunderabad", "suryapet", "miryalaguda"],

    "Odisha": 
    ["gopalpur", "berhampur", "bhubaneswar", "sambalpur", "cuttack", "rourkela", "raurkela industrial township"],

    "Jharkhand": 
    ["medininagar", "bokaro", "deoghar", "ranchi", "ramgarh", "hazaribagh", "jamshedpur", "giridih", "mango", "dhanbad", "phusro"],

    "Punjab": 
    ["phagwara", "bathinda", "jalandhar", "ludhiana", "patiala", "amritsar"],

    "Haryana": 
    ["sirsa", "rohtak", "gurgaon", "panipat", "bhiwani", "karnal", "ambala", "sonipat", "panchkula", "yamunanagar", "faridabad"],

    "Chhattisgarh": 
    ["durg", "bilaspur", "korba", "bhilai", "raipur"],

    "Kerala": 
    ["thrissur", "alappuzha", "kottayam", "kollam", "kochi", "kozhikode", "thiruvananthapuram"],

    "Assam": 
    ["dibrugarh", "tinsukia", "guwahati", "tezpur", "nagaon", "silchar", "bongaigaon", "jorhat"],
    
    "Delhi": 
    ["delhi", "new delhi", "karawal nagar", "nangloi jat", "bhalswa jahangir pur", "sultan pur majra", "kirari suleman nagar"],

    "Other States": 
    ["pondicherry", "ozhukarai", "chandigarh", "agartala", "aizawl", "imphal", "gangtok", "shimla", "jammu", "srinagar", "haridwar", "dehradun"]
}

In [80]:
# 주(state)에 대한 도시 개수 확인(딕셔너리)
check_state_to_cities = pd.DataFrame([
    {"key": k, "value_count": len(v)}
    for k, v in state_to_cities.items()
])

print(check_state_to_cities)

               key  value_count
0   Andhra Pradesh           32
1            Bihar           24
2    Uttar Pradesh           35
3      Maharashtra           32
4        Karnataka           15
5       Tamil Nadu           21
6      West Bengal           27
7          Gujarat           14
8   Madhya Pradesh           18
9        Rajasthan           12
10       Telangana           10
11          Odisha            7
12       Jharkhand           11
13          Punjab            6
14         Haryana           11
15    Chhattisgarh            5
16          Kerala            7
17           Assam            8
18           Delhi            7
19    Other States           12

In [81]:
# 오름차순으로 정렬
check_state_to_cities_sorted = check_state_to_cities.sort_values(
    by="value_count",
    ascending=True
)

print(check_state_to_cities_sorted)

               key  value_count
15    Chhattisgarh            5
13          Punjab            6
11          Odisha            7
16          Kerala            7
18           Delhi            7
17           Assam            8
10       Telangana           10
14         Haryana           11
12       Jharkhand           11
19    Other States           12
9        Rajasthan           12
7          Gujarat           14
4        Karnataka           15
8   Madhya Pradesh           18
5       Tamil Nadu           21
1            Bihar           24
6      West Bengal           27
0   Andhra Pradesh           32
3      Maharashtra           32
2    Uttar Pradesh           35

---

In [58]:
city_maps = {
    city: metro
    for metro, cities in state_to_cities.items()
    for city in cities
}

df["city_std"] = df["city_norm"].replace(city_maps)

---

In [59]:
# 주(State)별 대표 기상 관측 도시(city_std) 설정
state_to_std_map = {
    "Andhra Pradesh": "hyderabad", "Telangana": "hyderabad", "Bihar": "patna",
    "Uttar Pradesh": "lucknow", "Maharashtra": "mumbai", "Karnataka": "bangalore",
    "Tamil Nadu": "chennai", "West Bengal": "kolkata", "Gujarat": "ahmedabad",
    "Madhya Pradesh": "bhopal", "Rajasthan": "jaipur", "Odisha": "bhubaneswar",
    "Jharkhand": "ranchi", "Punjab": "chandigarh", "Haryana": "chandigarh",
    "Delhi": "delhi", "Chhattisgarh": "raipur", "Kerala": "kochi",
    "Assam": "guwahati", "Other States": "delhi"
}

---

In [60]:
# 대표 도시 위경도 데이터 프레임
station_latlon = pd.DataFrame([
    {"city_std": "delhi", "lat": 28.6139, "lon": 77.2090},
    {"city_std": "mumbai", "lat": 19.0760, "lon": 72.8777},
    {"city_std": "bangalore", "lat": 12.9716, "lon": 77.5946},
    {"city_std": "hyderabad", "lat": 17.3850, "lon": 78.4867},
    {"city_std": "chennai", "lat": 13.0827, "lon": 80.2707},
    {"city_std": "kolkata", "lat": 22.5726, "lon": 88.3639},
    {"city_std": "ahmedabad", "lat": 23.0225, "lon": 72.5714},
    {"city_std": "pune", "lat": 18.5204, "lon": 73.8567},
    {"city_std": "jaipur", "lat": 26.9124, "lon": 75.7873},
    {"city_std": "chandigarh", "lat": 30.7333, "lon": 76.7794},
    {"city_std": "lucknow", "lat": 26.8467, "lon": 80.9462},
    {"city_std": "patna", "lat": 25.5941, "lon": 85.1376},
    {"city_std": "guwahati", "lat": 26.1445, "lon": 91.7362},
    {"city_std": "bhopal", "lat": 23.2599, "lon": 77.4126},
    {"city_std": "kochi", "lat": 9.9312, "lon": 76.2673},
    {"city_std": "bhubaneswar", "lat": 20.2961, "lon": 85.8245},
    {"city_std": "raipur", "lat": 21.2514, "lon": 81.6296},
    {"city_std": "ranchi", "lat": 23.3441, "lon": 85.3094},
])

---

In [62]:
# ==========================================================
# 1단계: 날씨 수집 함수 정의
# ==========================================================
def fetch_weather_master(city_map_df, start_date, end_date):
    stations = city_map_df[['city_std', 'lat', 'lon']].drop_duplicates().dropna()
    all_weather = []
    
    for _, row in stations.iterrows():
        url = "https://archive-api.open-meteo.com/v1/archive"
        params = {
            "latitude": row['lat'], "longitude": row['lon'],
            "start_date": start_date, "end_date": end_date,
            "daily": ["temperature_2m_max", "temperature_2m_min", "precipitation_sum"],
            "timezone": "Asia/Kolkata"
        }
        try:
            r = requests.get(url, params=params)
            r.raise_for_status()
            data = r.json()
            temp_df = pd.DataFrame({
                "order_date": data["daily"]["time"],
                "city_std(광역권 이름)": row['city_std'], 
                "temp_max(최고 기온)": data["daily"]["temperature_2m_max"],
                "temp_min(최저 기온)": data["daily"]["temperature_2m_min"],
                "rain_pre(강수량 합계)": data["daily"]["precipitation_sum"]
            })
            all_weather.append(temp_df)
            print(f"날씨 수집 완료: {row['city_std']}")
        except Exception as e:
            print(f"날씨 수집 실패: {row['city_std']} - {e}")
            
    return pd.concat(all_weather, ignore_index=True) if all_weather else pd.DataFrame()

# ==========================================================
# 2단계: 매핑 데이터 및 위경도 준비
# ==========================================================
# 1. 딕셔너리 정의 (이전에 정의한 리스트/맵 사용)
city_to_state_dict = {city: state for state, cities in state_to_cities.items() for city in cities}

# 2. city_map DF 생성 및 주(State) 매핑
city_map = df[['area', 'city_norm']].drop_duplicates().copy()
city_map['state(주)'] = city_map['city_norm'].map(city_to_state_dict)

# 3. 대표 도시 및 위경도 병합
city_map['weather_station_city'] = city_map['state(주)'].map(state_to_std_map)
city_map = city_map.merge(station_latlon, left_on="weather_station_city", right_on="city_std", how="left", suffixes=('', '_station'))

# 4. 컬럼 정리 (city_map의 city_std가 '주 이름'이 되도록)
city_map = city_map.rename(columns={'state(주)': 'city_std_name'}) # 임시 이름

# ==========================================================
# 3단계: 날씨 데이터 수집 및 이름 역매핑 (번역)
# ==========================================================

weather_all = []
std_to_state_map = {v: k for k, v in state_to_std_map.items()} # {도시: 주} 번역기

for _, row in station_latlon.iterrows():
    temp_station_df = pd.DataFrame([row])
    w = fetch_weather_master(temp_station_df, "2023-03-01", "2024-11-30")
    
    if not w.empty:
        # 핵심: 'mumbai' -> 'maharashtra'로 번역 (그래야 원본 df와 병합됨)
        w["city_std(광역권 이름)"] = w["city_std(광역권 이름)"].map(std_to_state_map)
        weather_all.append(w)

weather_df = pd.concat(weather_all, ignore_index=True)

# 파생 변수 추가
weather_df["temp_range(최고 기온-최저 기온)"] = weather_df["temp_max(최고 기온)"] - weather_df["temp_min(최저 기온)"]
weather_df["heatwave(폭염)"] = (weather_df["temp_max(최고 기온)"] >= 38).astype(int)
weather_df["heavy_rain(폭우)"] = (weather_df["rain_pre(강수량 합계)"] >= 50).astype(int)

# ==========================================================
# 4단계: 최종 병합 (NaN 해결)
# ==========================================================

# 1. 형식 통일
df['order_date'] = pd.to_datetime(df['order_date']).dt.strftime('%Y-%m-%d')
weather_df['order_date'] = pd.to_datetime(weather_df['order_date']).dt.strftime('%Y-%m-%d')
df['city_std'] = df['city_std'].astype(str).str.lower().str.strip()
weather_df['city_std(광역권 이름)'] = weather_df['city_std(광역권 이름)'].astype(str).str.lower().str.strip()

# 2. 병합
df_final = df.rename(columns={"city_std": "city_std(광역권 이름)", "city_norm": "city_norm(정규화된 도시 이름)"})
blinkit_master_data_weather = df_final.merge(weather_df, on=["order_date", "city_std(광역권 이름)"], how="left")

# 결과 확인
print(f"최종 매칭 성공 건수: {blinkit_master_data_weather['temp_max(최고 기온)'].notna().sum()}")
display(blinkit_master_data_weather.head())

날씨 수집 완료: delhi
날씨 수집 완료: mumbai
날씨 수집 완료: bangalore
날씨 수집 완료: hyderabad
날씨 수집 완료: chennai
날씨 수집 완료: kolkata
날씨 수집 완료: ahmedabad
날씨 수집 완료: pune
날씨 수집 완료: jaipur
날씨 수집 완료: chandigarh
날씨 수집 완료: lucknow
날씨 수집 완료: patna
날씨 수집 완료: guwahati
날씨 수집 완료: bhopal
날씨 수집 완료: kochi
날씨 수집 완료: bhubaneswar
날씨 수집 완료: raipur
날씨 수집 완료: ranchi
최종 매칭 성공 건수: 4203

,order_id,customer_id_x,order_date,promised_delivery_time,actual_delivery_time,delivery_status_x,order_total,payment_method,delivery_partner_id_x,store_id,...,total_orders,avg_order_value,city_norm(정규화된 도시 이름),city_std(광역권 이름),temp_max(최고 기온),temp_min(최저 기온),rain_pre(강수량 합계),temp_range(최고 기온-최저 기온),heatwave(폭염),heavy_rain(폭우)
0,1961864118,30065862,2024-07-17,2024-07-17 08:52:01,2024-07-17 08:47:01,On Time,3197.07,Cash,63230,4771,...,13,749.95,allahabad,uttar pradesh,32.5,28.0,2.5,4.5,0.0,0.0
1,1549769649,9573071,2024-05-28,2024-05-28 13:25:29,2024-05-28 13:27:29,On Time,976.55,Cash,14983,7534,...,5,958.06,thrissur,kerala,26.6,25.0,171.9,1.6,0.0,1.0
2,9185164487,45477575,2024-09-23,2024-09-23 13:25:12,2024-09-23 13:29:12,On Time,839.05,UPI,39859,9886,...,4,327.93,vellore,tamil nadu,33.0,24.8,15.5,8.2,0.0,0.0
3,9644738826,88067569,2023-11-24,2023-11-24 16:34:56,2023-11-24 16:33:56,On Time,440.23,Card,61497,7917,...,5,273.38,gaya,bihar,26.0,15.8,0.0,10.2,0.0,0.0
4,5427684290,83298567,2023-11-20,2023-11-20 05:17:39,2023-11-20 05:18:39,On Time,2526.68,Cash,84315,2741,...,14,763.10,asansol,west bengal,29.5,18.8,0.0,10.7,0.0,0.0

In [ ]:
# city_std(주 state)의 unique 값 확인
blinkit_master_data_weather["city_std(광역권 이름)"].value_counts()

city_std(광역권 이름)
uttar pradesh          612
andhra pradesh         556
maharashtra            485
west bengal            402
bihar                  378
tamil nadu             352
madhya pradesh         318
karnataka              217
gujarat                204
rajasthan              178
other states           170
assam                  163
haryana                162
jharkhand              155
telangana              148
punjab                 114
kerala                 106
odisha                  90
delhi                   88
chhattisgarh            63
durgapur                17
gorakhpur               16
sanglimiraj  kupwad      6
Name: count, dtype: int64

---

### CSV 파일 저장하기

In [88]:
blinkit_master_data_weather.to_csv('../data/weather/blinkit_master_data_weather_10.csv')

---

### NaN 확인 작업

In [ ]:
# 결측치가 있는 행만 필터링
nan_rows = blinkit_master_data_weather[blinkit_master_data_weather['temp_max(최고 기온)'].isna()]

# 어떤 도시(주)에서 결측치가 발생했는지와 그 개수 확인
nan_city_counts = nan_rows['city_std(광역권 이름)'].value_counts()

print("--- 결측치가 발생한 도시별 빈도 ---")
print(nan_city_counts)

print("\n--- 전체 결측치 개수 ---")
print(len(nan_rows))

# 구체적으로 어떤 소도시(city_norm)들이 빠졌는지 확인
print("\n--- 결측치 발생 소도시 샘플 ---")
display(nan_rows[['city_std(광역권 이름)', 'city_norm(정규화된 도시 이름)']].drop_duplicates())

--- 결측치가 발생한 도시별 빈도 ---
city_std(광역권 이름)
andhra pradesh         556
punjab                 114
delhi                   88
durgapur                17
gorakhpur               16
sanglimiraj  kupwad      6
Name: count, dtype: int64

--- 전체 결측치 개수 ---
797

--- 결측치 발생 소도시 샘플 ---

         city_std(광역권 이름) city_norm(정규화된 도시 이름)
6                  punjab              phagwara
12         andhra pradesh            vijayawada
21         andhra pradesh                ongole
25         andhra pradesh                 adoni
28         andhra pradesh          narasaraopet
29         andhra pradesh              hindupur
37         andhra pradesh              chittoor
40                 punjab              bathinda
41         andhra pradesh           rajahmundry
43         andhra pradesh               nandyal
55         andhra pradesh              kakinada
71         andhra pradesh                guntur
76         andhra pradesh              gudivada
128        andhra pradesh         visakhapatnam
129        andhra pradesh         vijayanagaram
132        andhra pradesh                 eluru
146                 delhi                 delhi
154        andhra pradesh               nellore
155        andhra pradesh             amaravati
157                 delhi         karawal nagar
193                punjab             jalandhar
211                punjab              ludhiana
220        andhra pradesh             tadipatri
232        andhra pradesh                kavali
249                punjab               patiala
257        andhra pradesh                tenali
272        andhra pradesh            bhimavaram
317        andhra pradesh                kadapa
332        andhra pradesh             proddatur
335        andhra pradesh             anantapur
354        andhra pradesh        tadepalligudem
388   sanglimiraj  kupwad   sanglimiraj  kupwad
411        andhra pradesh               kurnool
441                 delhi           nangloi jat
455        andhra pradesh         machilipatnam
457                 delhi  bhalswa jahangir pur
550                 delhi      sultan pur majra
560             gorakhpur             gorakhpur
563        andhra pradesh           madanapalle
642                 delhi  kirari suleman nagar
749              durgapur              durgapur
903        andhra pradesh              guntakal
983                 delhi             new delhi
1064       andhra pradesh           anantapuram
1193       andhra pradesh           dharmavaram
1344               punjab              amritsar
1379       andhra pradesh            srikakulam
1622       andhra pradesh              tirupati

In [64]:
# 결측치가 발생한 날짜 확인
nan_dates = nan_rows['order_date'].unique()
print(f"결측 발생 날짜 수: {len(nan_dates)}개")
print(f"날짜 범위: {min(nan_dates)} ~ {max(nan_dates)}")

결측 발생 날짜 수: 437개
날짜 범위: 2023-03-16 ~ 2024-11-04

In [65]:
# 1. 원본 df에는 있는데 weather_df에는 없는 '주(State)' 이름 찾기
df_states = set(df_final['city_std(광역권 이름)'].unique())
weather_states = set(weather_df['city_std(광역권 이름)'].unique())

missing_states = df_states - weather_states
if missing_states:
    print(f"⚠️ 날씨 데이터에 아예 존재하지 않는 주: {missing_states}")
    print("해결책: state_to_std_map에 위 주들을 추가하고 날씨를 다시 수집해야 합니다.")
else:
    print("✅ 모든 주 이름이 날씨 데이터와 매칭 가능한 상태입니다.")

⚠️ 날씨 데이터에 아예 존재하지 않는 주: {'gorakhpur', 'delhi', 'punjab', 'sanglimiraj  kupwad', 'andhra pradesh', 'durgapur'}
해결책: state_to_std_map에 위 주들을 추가하고 날씨를 다시 수집해야 합니다.