### 기본이 될 데이터셋 불러오기

In [55]:
import requests
import pandas as pd

df = pd.read_csv("../blinkit-dataset/blinkit_master_data.csv")

df

,order_id,customer_id_x,order_date,promised_delivery_time,actual_delivery_time,delivery_status_x,order_total,payment_method,delivery_partner_id_x,store_id,...,customer_name,email,phone,address,area,pincode,registration_date,customer_segment,total_orders,avg_order_value
0,1961864118,30065862,2024-07-17,2024-07-17 08:52:01,2024-07-17 08:47:01,On Time,3197.07,Cash,63230,4771,...,Urishilla Hegde,ydeo@example.org,910400446367,"H.No. 330\nRana Path, Sagar 712033",Allahabad,911359,2024-09-02,Regular,13,749.95
1,1549769649,9573071,2024-05-28,2024-05-28 13:25:29,2024-05-28 13:27:29,On Time,976.55,Cash,14983,7534,...,Ranveer Mahal,phegde@example.org,912292591574,"49, Sarkar Zila, Navi Mumbai-077374",Thrissur,856100,2023-11-07,New,5,958.06
2,9185164487,45477575,2024-09-23,2024-09-23 13:25:12,2024-09-23 13:29:12,On Time,839.05,UPI,39859,9886,...,Aarna Bawa,kondajagdish@example.com,912719661653,"14/351, Agarwal Path\nMedininagar 636193",Vellore,117423,2024-01-05,Inactive,4,327.93
3,9644738826,88067569,2023-11-24,2023-11-24 16:34:56,2023-11-24 16:33:56,On Time,440.23,Card,61497,7917,...,Aayush Sengupta,lekha10@example.com,913367647372,"20/47\nRatta Chowk, Sonipat-022522",Gaya,288459,2023-12-25,Premium,5,273.38
4,5427684290,83298567,2023-11-20,2023-11-20 05:17:39,2023-11-20 05:18:39,On Time,2526.68,Cash,84315,2741,...,Vansha Kuruvilla,xalak62@example.com,912910638833,"H.No. 68, Gaba Road\nKhandwa 040880",Asansol,149383,2024-10-02,Premium,14,763.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1669690997,62600289,2023-12-25,2023-12-25 16:05:20,2023-12-25 16:10:20,On Time,1132.33,Cash,90914,1587,...,Tanmayi Zachariah,aishanikata@example.net,914705136766,"88, Chaudhary Zila, Kalyan-Dombivli 682393",Udaipur,72489,2024-02-20,Inactive,10,1326.02
4996,8340761903,53640286,2023-11-27,2023-11-27 09:38:43,2023-11-27 09:36:43,On Time,2372.01,Cash,27952,3458,...,Quincy Cheema,vigvasatika@example.org,915944903566,"58/738, Dhar Zila, Phusro-372086",Mathura,28426,2023-11-12,Premium,20,1368.38
4997,5936301790,87059497,2024-06-21,2024-06-21 19:23:09,2024-06-21 19:26:09,On Time,3158.35,Cash,9590,7424,...,Abeer Merchant,peterkuruvilla@example.net,910387963526,"H.No. 69, Mangal Zila\nSikar-669273",Jamshedpur,771247,2024-02-09,Regular,5,1137.61
4998,5710579377,67310893,2024-06-06,2024-06-06 15:12:13,2024-06-06 15:10:13,On Time,1918.92,UPI,29940,6128,...,Idika Patla,arya77@example.org,917710512882,"91/165, Dewan Circle\nAjmer-980052",Chennai,286135,2024-04-10,New,19,1592.94
4999,2494813730,28663279,2023-08-23,2023-08-23 12:20:18,2023-08-23 12:21:18,On Time,1879.46,Card,32851,5588,...,Sai Bhatia,xchoudhry@example.org,912901668937,"14/344\nMalhotra Road, Ahmedabad-019006",Jamnagar,321770,2023-03-30,Premium,6,1539.15

---

###  area 컬럼 정규화 작업

In [56]:
df["city_norm"] = (
    df["area"]
    .str.lower()                             # 소문자화
    .str.strip()                             # 공백 제거
    .str.replace(r"[^\w\s]", "", regex=True) # 특수 문자 제거
)

df["city_norm"]

0        allahabad
1         thrissur
2          vellore
3             gaya
4          asansol
           ...
4995       udaipur
4996       mathura
4997    jamshedpur
4998       chennai
4999      jamnagar
Name: city_norm, Length: 5000, dtype: object

---

In [57]:
# 주(State)별 소도시 리스트 정의
state_to_cities = {
    "Andhra Pradesh": 
    ["vijayawada", "ongole", "adoni", "narasaraopet", "hindupur", "chittoor", "rajahmundry", "nandyal", "kakinada", "guntur", "gudivada", "visakhapatnam", "vijayanagaram", "eluru", "nellore", "amaravati", "tadipatri", "kavali", "tenali", "bhimavaram", "kadapa", "proddatur", "anantapur", "tadepalligudem", "kurnool", "machilipatnam", "madanapalle", "guntakal", "anantapuram", "srikakulam", "tirupati", "dharmavaram"],
    
    "Bihar": 
    ["gaya", "dehri", "muzaffarpur", "begusarai", "siwan", "darbhanga", "bihar sharif", "patna", "bettiah", "arrah", "danapur", "hajipur", "saharsa", "katihar", "chapra", "kishanganj", "bhagalpur", "purnia", "buxar", "jehanabad", "motihari", "sasaram", "munger", "jamalpur"],

    "Uttar Pradesh": 
    ["allahabad", "farrukhabad", "saharanpur", "etawah", "mathura", "mirzapur", "rampur", "orai", "bulandshahr", "shahjahanpur", "ghaziabad", "aligarh", "agra", "jhansi", "bareilly", "fatehpur", "raebareli", "meerut", "firozabad", "mau", "hapur", "muzaffarnagar", "lucknow", "kanpur", "amroha", "sambhal", "jaunpur", "varanasi", "bahraich", "unnao", "moradabad", "khora", "loni", "ballia", "noida"],

    "Maharashtra": 
    ["jalna", "akola", "ahmednagar", "panvel", "ichalkaranji", "kolhapur", "dhule", "thane", "chandrapur", "latur", "satara", "nanded", "mirabhayandar", "jalgaon", "pimprichinchwad", "navi mumbai", "amravati", "mumbai", "kalyandombivli", "ulhasnagar", "sanglimiraj kupwad", "bhiwandi", "parbhani", "nagpur", "pune", "nashik", "ambarnath", "malegaon", "bhusawal", "solapur", "vasaivirar", "aurangabad"],

    "Karnataka": 
    ["belgaum", "davanagere", "gulbarga", "bijapur", "udupi", "bangalore", "hublidharwad", "bellary", "shimoga", "bidar", "mysore", "tumkur", "raichur", "hospet", "mangalore"],

    "Tamil Nadu": 
    ["vellore", "madurai", "hosur", "avadi", "pudukkottai", "kumbakonam", "tiruppur", "tiruvottiyur", "dindigul", "thanjavur", "thoothukudi", "erode", "nagercoil", "ambattur", "pallavaram", "salem", "tirunelveli", "karaikudi", "tiruchirappalli", "coimbatore", "chennai"],

    "West Bengal": 
    ["asansol", "south dumdum", "kamarhati", "serampore", "north dumdum", "maheshtala", "baranagar", "howrah", "madhyamgram", "bally", "siliguri", "haldia", "panihati", "naihati", "bidhannagar", "bhatpara", "rajpur sonarpur", "kolkata", "barasat", "malda", "bardhaman", "kulti", "chinsurah", "kharagpur", "raiganj", "uluberia", "berhampore"],

    "Gujarat": 
    ["anand", "gandhidham", "morbi", "junagadh", "jamnagar", "bhavnagar", "surat", "mehsana", "vadodara", "ahmedabad", "surendranagar dudhrej", "rajkot", "gandhinagar", "nadiad"],

    "Madhya Pradesh": 
    ["khandwa", "rewa", "ratlam", "burhanpur", "jabalpur", "shivpuri", "bhopal", "bhind", "gwalior", "dewas", "singrauli", "morena", "sagar", "indore", "guna", "ujjain", "katni", "satna"],

    "Rajasthan": 
    ["pali", "bikaner", "udaipur", "sri ganganagar", "sikar", "jaipur", "alwar", "ajmer", "bhilwara", "jodhpur", "bharatpur", "kota"],

    "Telangana": 
    ["nizamabad", "khammam", "karimnagar", "ramagundam", "mahbubnagar", "warangal", "hyderabad", "secunderabad", "suryapet", "miryalaguda"],

    "Odisha": 
    ["gopalpur", "berhampur", "bhubaneswar", "sambalpur", "cuttack", "rourkela", "raurkela industrial township"],

    "Jharkhand": 
    ["medininagar", "bokaro", "deoghar", "ranchi", "ramgarh", "hazaribagh", "jamshedpur", "giridih", "mango", "dhanbad", "phusro"],

    "Punjab": 
    ["phagwara", "bathinda", "jalandhar", "ludhiana", "patiala", "amritsar"],

    "Haryana": 
    ["sirsa", "rohtak", "gurgaon", "panipat", "bhiwani", "karnal", "ambala", "sonipat", "panchkula", "yamunanagar", "faridabad"],

    "Chhattisgarh": 
    ["durg", "bilaspur", "korba", "bhilai", "raipur"],

    "Kerala": 
    ["thrissur", "alappuzha", "kottayam", "kollam", "kochi", "kozhikode", "thiruvananthapuram"],

    "Assam": 
    ["dibrugarh", "tinsukia", "guwahati", "tezpur", "nagaon", "silchar", "bongaigaon", "jorhat"],
    
    "Delhi": 
    ["delhi", "new delhi", "karawal nagar", "nangloi jat", "bhalswa jahangir pur", "sultan pur majra", "kirari suleman nagar"],

    "Other States": 
    ["pondicherry", "ozhukarai", "chandigarh", "agartala", "aizawl", "imphal", "gangtok", "shimla", "jammu", "srinagar", "haridwar", "dehradun"]
}

---

In [58]:
city_maps = {
    city: metro
    for metro, cities in state_to_cities.items()
    for city in cities
}

df["city_std"] = df["city_norm"].replace(city_maps)

---

In [59]:
# 주(State)별 대표 기상 관측 도시(city_std) 설정
state_to_std_map = {
    "Andhra Pradesh": "hyderabad", "Telangana": "hyderabad", "Bihar": "patna",
    "Uttar Pradesh": "lucknow", "Maharashtra": "mumbai", "Karnataka": "bangalore",
    "Tamil Nadu": "chennai", "West Bengal": "kolkata", "Gujarat": "ahmedabad",
    "Madhya Pradesh": "bhopal", "Rajasthan": "jaipur", "Odisha": "bhubaneswar",
    "Jharkhand": "ranchi", "Punjab": "chandigarh", "Haryana": "chandigarh",
    "Delhi": "delhi", "Chhattisgarh": "raipur", "Kerala": "kochi",
    "Assam": "guwahati", "Other States": "delhi"
}

---

In [60]:
# 대표 도시 위경도 데이터 프레임
station_latlon = pd.DataFrame([
    {"city_std": "delhi", "lat": 28.6139, "lon": 77.2090},
    {"city_std": "mumbai", "lat": 19.0760, "lon": 72.8777},
    {"city_std": "bangalore", "lat": 12.9716, "lon": 77.5946},
    {"city_std": "hyderabad", "lat": 17.3850, "lon": 78.4867},
    {"city_std": "chennai", "lat": 13.0827, "lon": 80.2707},
    {"city_std": "kolkata", "lat": 22.5726, "lon": 88.3639},
    {"city_std": "ahmedabad", "lat": 23.0225, "lon": 72.5714},
    {"city_std": "pune", "lat": 18.5204, "lon": 73.8567},
    {"city_std": "jaipur", "lat": 26.9124, "lon": 75.7873},
    {"city_std": "chandigarh", "lat": 30.7333, "lon": 76.7794},
    {"city_std": "lucknow", "lat": 26.8467, "lon": 80.9462},
    {"city_std": "patna", "lat": 25.5941, "lon": 85.1376},
    {"city_std": "guwahati", "lat": 26.1445, "lon": 91.7362},
    {"city_std": "bhopal", "lat": 23.2599, "lon": 77.4126},
    {"city_std": "kochi", "lat": 9.9312, "lon": 76.2673},
    {"city_std": "bhubaneswar", "lat": 20.2961, "lon": 85.8245},
    {"city_std": "raipur", "lat": 21.2514, "lon": 81.6296},
    {"city_std": "ranchi", "lat": 23.3441, "lon": 85.3094},
])

---

In [62]:
# ==========================================================
# 1단계: 날씨 수집 함수 정의
# ==========================================================
def fetch_weather_master(city_map_df, start_date, end_date):
    stations = city_map_df[['city_std', 'lat', 'lon']].drop_duplicates().dropna()
    all_weather = []
    
    for _, row in stations.iterrows():
        url = "https://archive-api.open-meteo.com/v1/archive"
        params = {
            "latitude": row['lat'], "longitude": row['lon'],
            "start_date": start_date, "end_date": end_date,
            "daily": ["temperature_2m_max", "temperature_2m_min", "precipitation_sum"],
            "timezone": "Asia/Kolkata"
        }
        try:
            r = requests.get(url, params=params)
            r.raise_for_status()
            data = r.json()
            temp_df = pd.DataFrame({
                "order_date": data["daily"]["time"],
                "city_std(광역권 이름)": row['city_std'], 
                "temp_max(최고 기온)": data["daily"]["temperature_2m_max"],
                "temp_min(최저 기온)": data["daily"]["temperature_2m_min"],
                "rain_pre(강수량 합계)": data["daily"]["precipitation_sum"]
            })
            all_weather.append(temp_df)
            print(f"날씨 수집 완료: {row['city_std']}")
        except Exception as e:
            print(f"날씨 수집 실패: {row['city_std']} - {e}")
            
    return pd.concat(all_weather, ignore_index=True) if all_weather else pd.DataFrame()

# ==========================================================
# 2단계: 매핑 데이터 및 위경도 준비
# ==========================================================
# 1. 딕셔너리 정의 (이전에 정의한 리스트/맵 사용)
city_to_state_dict = {city: state for state, cities in state_to_cities.items() for city in cities}

# 2. city_map DF 생성 및 주(State) 매핑
city_map = df[['area', 'city_norm']].drop_duplicates().copy()
city_map['state(주)'] = city_map['city_norm'].map(city_to_state_dict)

# 3. 대표 도시 및 위경도 병합
city_map['weather_station_city'] = city_map['state(주)'].map(state_to_std_map)
city_map = city_map.merge(station_latlon, left_on="weather_station_city", right_on="city_std", how="left", suffixes=('', '_station'))

# 4. 컬럼 정리 (city_map의 city_std가 '주 이름'이 되도록)
city_map = city_map.rename(columns={'state(주)': 'city_std_name'}) # 임시 이름

# ==========================================================
# 3단계: 날씨 데이터 수집 및 이름 역매핑 (번역)
# ==========================================================

weather_all = []
std_to_state_map = {v: k for k, v in state_to_std_map.items()} # {도시: 주} 번역기

for _, row in station_latlon.iterrows():
    temp_station_df = pd.DataFrame([row])
    w = fetch_weather_master(temp_station_df, "2023-03-01", "2024-11-30")
    
    if not w.empty:
        # 핵심: 'mumbai' -> 'maharashtra'로 번역 (그래야 원본 df와 병합됨)
        w["city_std(광역권 이름)"] = w["city_std(광역권 이름)"].map(std_to_state_map)
        weather_all.append(w)

weather_df = pd.concat(weather_all, ignore_index=True)

# 파생 변수 추가
weather_df["temp_range(최고 기온-최저 기온)"] = weather_df["temp_max(최고 기온)"] - weather_df["temp_min(최저 기온)"]
weather_df["heatwave(폭염)"] = (weather_df["temp_max(최고 기온)"] >= 38).astype(int)
weather_df["heavy_rain(폭우)"] = (weather_df["rain_pre(강수량 합계)"] >= 50).astype(int)

# ==========================================================
# 4단계: 최종 병합 (NaN 해결)
# ==========================================================

# 1. 형식 통일
df['order_date'] = pd.to_datetime(df['order_date']).dt.strftime('%Y-%m-%d')
weather_df['order_date'] = pd.to_datetime(weather_df['order_date']).dt.strftime('%Y-%m-%d')
df['city_std'] = df['city_std'].astype(str).str.lower().str.strip()
weather_df['city_std(광역권 이름)'] = weather_df['city_std(광역권 이름)'].astype(str).str.lower().str.strip()

# 2. 병합
df_final = df.rename(columns={"city_std": "city_std(광역권 이름)", "city_norm": "city_norm(정규화된 도시 이름)"})
blinkit_master_data_weather = df_final.merge(weather_df, on=["order_date", "city_std(광역권 이름)"], how="left")

# 결과 확인
print(f"최종 매칭 성공 건수: {blinkit_master_data_weather['temp_max(최고 기온)'].notna().sum()}")
display(blinkit_master_data_weather.head())

날씨 수집 완료: delhi
날씨 수집 완료: mumbai
날씨 수집 완료: bangalore
날씨 수집 완료: hyderabad
날씨 수집 완료: chennai
날씨 수집 완료: kolkata
날씨 수집 완료: ahmedabad
날씨 수집 완료: pune
날씨 수집 완료: jaipur
날씨 수집 완료: chandigarh
날씨 수집 완료: lucknow
날씨 수집 완료: patna
날씨 수집 완료: guwahati
날씨 수집 완료: bhopal
날씨 수집 완료: kochi
날씨 수집 완료: bhubaneswar
날씨 수집 완료: raipur
날씨 수집 완료: ranchi
최종 매칭 성공 건수: 4203

,order_id,customer_id_x,order_date,promised_delivery_time,actual_delivery_time,delivery_status_x,order_total,payment_method,delivery_partner_id_x,store_id,...,total_orders,avg_order_value,city_norm(정규화된 도시 이름),city_std(광역권 이름),temp_max(최고 기온),temp_min(최저 기온),rain_pre(강수량 합계),temp_range(최고 기온-최저 기온),heatwave(폭염),heavy_rain(폭우)
0,1961864118,30065862,2024-07-17,2024-07-17 08:52:01,2024-07-17 08:47:01,On Time,3197.07,Cash,63230,4771,...,13,749.95,allahabad,uttar pradesh,32.5,28.0,2.5,4.5,0.0,0.0
1,1549769649,9573071,2024-05-28,2024-05-28 13:25:29,2024-05-28 13:27:29,On Time,976.55,Cash,14983,7534,...,5,958.06,thrissur,kerala,26.6,25.0,171.9,1.6,0.0,1.0
2,9185164487,45477575,2024-09-23,2024-09-23 13:25:12,2024-09-23 13:29:12,On Time,839.05,UPI,39859,9886,...,4,327.93,vellore,tamil nadu,33.0,24.8,15.5,8.2,0.0,0.0
3,9644738826,88067569,2023-11-24,2023-11-24 16:34:56,2023-11-24 16:33:56,On Time,440.23,Card,61497,7917,...,5,273.38,gaya,bihar,26.0,15.8,0.0,10.2,0.0,0.0
4,5427684290,83298567,2023-11-20,2023-11-20 05:17:39,2023-11-20 05:18:39,On Time,2526.68,Cash,84315,2741,...,14,763.10,asansol,west bengal,29.5,18.8,0.0,10.7,0.0,0.0

---

### CSV 파일 저장하기

In [ ]:
blinkit_master_data_weather.to_csv('../data/weather/blinkit_master_data_weather_09.csv')

---

### NaN 확인 작업

In [63]:
# 결측치가 있는 행만 필터링
nan_rows = blinkit_master_data_weather[blinkit_master_data_weather['temp_max(최고 기온)'].isna()]

# 어떤 도시(주)에서 결측치가 발생했는지와 그 개수 확인
nan_city_counts = nan_rows['city_std(광역권 이름)'].value_counts()

print("--- 결측치가 발생한 도시별 빈도 ---")
print(nan_city_counts)

# 구체적으로 어떤 소도시(city_norm)들이 빠졌는지 확인
print("\n--- 결측치 발생 소도시 샘플 ---")
display(nan_rows[['city_std(광역권 이름)', 'city_norm(정규화된 도시 이름)']].drop_duplicates())

--- 결측치가 발생한 도시별 빈도 ---
city_std(광역권 이름)
andhra pradesh         556
punjab                 114
delhi                   88
durgapur                17
gorakhpur               16
sanglimiraj  kupwad      6
Name: count, dtype: int64

--- 결측치 발생 소도시 샘플 ---

         city_std(광역권 이름) city_norm(정규화된 도시 이름)
6                  punjab              phagwara
12         andhra pradesh            vijayawada
21         andhra pradesh                ongole
25         andhra pradesh                 adoni
28         andhra pradesh          narasaraopet
29         andhra pradesh              hindupur
37         andhra pradesh              chittoor
40                 punjab              bathinda
41         andhra pradesh           rajahmundry
43         andhra pradesh               nandyal
55         andhra pradesh              kakinada
71         andhra pradesh                guntur
76         andhra pradesh              gudivada
128        andhra pradesh         visakhapatnam
129        andhra pradesh         vijayanagaram
132        andhra pradesh                 eluru
146                 delhi                 delhi
154        andhra pradesh               nellore
155        andhra pradesh             amaravati
157                 delhi         karawal nagar
193                punjab             jalandhar
211                punjab              ludhiana
220        andhra pradesh             tadipatri
232        andhra pradesh                kavali
249                punjab               patiala
257        andhra pradesh                tenali
272        andhra pradesh            bhimavaram
317        andhra pradesh                kadapa
332        andhra pradesh             proddatur
335        andhra pradesh             anantapur
354        andhra pradesh        tadepalligudem
388   sanglimiraj  kupwad   sanglimiraj  kupwad
411        andhra pradesh               kurnool
441                 delhi           nangloi jat
455        andhra pradesh         machilipatnam
457                 delhi  bhalswa jahangir pur
550                 delhi      sultan pur majra
560             gorakhpur             gorakhpur
563        andhra pradesh           madanapalle
642                 delhi  kirari suleman nagar
749              durgapur              durgapur
903        andhra pradesh              guntakal
983                 delhi             new delhi
1064       andhra pradesh           anantapuram
1193       andhra pradesh           dharmavaram
1344               punjab              amritsar
1379       andhra pradesh            srikakulam
1622       andhra pradesh              tirupati

In [64]:
# 결측치가 발생한 날짜 확인
nan_dates = nan_rows['order_date'].unique()
print(f"결측 발생 날짜 수: {len(nan_dates)}개")
print(f"날짜 범위: {min(nan_dates)} ~ {max(nan_dates)}")

결측 발생 날짜 수: 437개
날짜 범위: 2023-03-16 ~ 2024-11-04

In [65]:
# 1. 원본 df에는 있는데 weather_df에는 없는 '주(State)' 이름 찾기
df_states = set(df_final['city_std(광역권 이름)'].unique())
weather_states = set(weather_df['city_std(광역권 이름)'].unique())

missing_states = df_states - weather_states
if missing_states:
    print(f"⚠️ 날씨 데이터에 아예 존재하지 않는 주: {missing_states}")
    print("해결책: state_to_std_map에 위 주들을 추가하고 날씨를 다시 수집해야 합니다.")
else:
    print("✅ 모든 주 이름이 날씨 데이터와 매칭 가능한 상태입니다.")

⚠️ 날씨 데이터에 아예 존재하지 않는 주: {'gorakhpur', 'delhi', 'punjab', 'sanglimiraj  kupwad', 'andhra pradesh', 'durgapur'}
해결책: state_to_std_map에 위 주들을 추가하고 날씨를 다시 수집해야 합니다.